/**
 * @Author: Alcwyn Parker <alcwynparker>
 * @Date:   2017-09-25T15:47:37+01:00
 * @Email:  alcwynparker@gmail.com
 * @Project: COMP210
 * @Filename: main.css
 * @Last modified by:   alcwynparker
 * @Last modified time: 2017-09-25T16:19:40+01:00
 */
 /* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

body, html{
  width:100%;
  height:100%;
  margin:0px;
  font-family: 'Oswald', sans-serif;
}
html{
  background-image:url(../images/BlackHoleBG.png);
  background-color:#8b8b8a;
  background-size:1616px;
  background-repeat: no-repeat;
}
h1{
  font-size: 2em;
  padding:10px;
  font-weight:bold;
}
h2{
  font-size: 1.4em;
  padding:4px;
}

.main-container{
  width:960px;
  margin: 0px 0px 0px 360px;
  position: relative;
  overflow: hidden;
  padding-bottom:80px;
}
header{
  width:100%;
  height:400px;
}
header h1,header h2{
	color: #89ff1c;
	font-weight:normal;
	}
header h1{
	font-size:40px;
}
header h2{
	font-size:20px;
}
.thisisbadpractice{
	padding-left: 424px;
    padding-top: 177px;
}
.content{
  width:100%;
  min-height:400px;
}
aside{
	width:300px;
	height:557px;
  position:fixed;
  top:200px;
  background-image:url(../images/Menu.png);
  background-size:300px;
  background-repeat:no-repeat;
}
nav{
	margin-top:120px;
	margin-left:80px;
	width:231px;
}
nav ul{
  margin:10px;
}
nav ul li a{
	padding-right:10px;
  display:block;
  width: 90%;
  height:50px;
  color: #89ff1c;
  font-size:20px;
  font-weight:bold;
  line-height: 50px;
  text-align: right;
  text-decoration: none;
}
nav ul li a.active{
  background: #89ff1c;
  color:#FFF;
}
nav ul li a:hover{
  background: #89ff1c;
  color:#FFF;
}
.sectionTitle{
	text-align:center;
	color:#89ff1c;
	text-shadow: 2px 2px 1px rgba(127, 127, 127, 1);
}
.sectionSubTitle{
	color:#89ff1c;
	text-shadow: 2px 2px 1px rgba(127, 127, 127, 1);
	padding:0px 20px;
}
.sectionBreakImage{
	margin:10px auto;
	display:block;
}
.sectionParagraph{
	padding:25px;
}
h3{
	padding-left:25px;
	font-weight:bold;
}
section{
	width:99%;
  min-height:300px;
  background: #fefefe;
  border-style:solid;
    border-width: 2px;
	border-color: black;
  margin-bottom:10px;
      padding: 3px;
}
footer{
  width:99%;
  height:40px;
  bottom: 0px;
  padding:5px;
}
